<div class="dashboard-layout">
  <!-- LEFT SIDE: The Navigation Sidebar -->
  <aside class="sidebar">
    <h3>Dashboard</h3>
    <ul>
      <li (click)="switchTab('overview')" [class.active]="activeTab === 'overview'">Overview</li>
      <li (click)="switchTab('create')" [class.active]="activeTab === 'create'">Create Post</li>
      <li (click)="switchTab('profile')" [class.active]="activeTab === 'profile'">Profile</li>
    </ul>
  </aside>

  <!-- RIGHT SIDE: The Dynamic Content -->
  <section class="dashboard-content">
    <!-- VIEW 1: OVERVIEW -->
    <div class="stats">
      <div class="card">
        <h3>Total Posts</h3>
        <p>{{ blogPosts.length }}</p>
      </div>

      <div class="card">
        <h3>With Images</h3>
        <p>
          {{ blogPosts.filter(p => p.image).length }}
        </p>
      </div>
    </div>
    @if (activeTab === 'overview') {
      <h2>Manage Posts</h2>
      <!-- @for (post of blogPosts; track post; let i = $index) -->
      <div class="posts">
        @if (blogPosts.length === 0) {
          <p class="empty">No posts yet. Start by adding one!</p>
        } @else {
          @for (post of blogPosts; track post; let i = $index) {
            <div class="post-card">
              <img [src]="post.image" />

              <div class="content">
                <h4>{{ post.title }}</h4>
                <p>{{ post.summary }}</p>
              </div>

              <button (click)="removePost(i)">Delete</button>
            </div>
          }
        }
      </div>
    }

    <!-- VIEW 2: CREATE POST -->
    @if (activeTab === 'create') {
      <h2>Create a New Post</h2>

      <!-- toast Message -->
      @if (showSuccessMessage()) {
        <div class="toast-notification">Post Published Successfully!</div>
      }

      <!-- inputForm for post -->
      <div class="form-section">
        <form (ngSubmit)="submitPosts()" #postForm="ngForm" class="form-container">
          <div class="input-Forum">
            <input type="text" name="title" [(ngModel)]="postTitle" required />

            <angular-editor [(ngModel)]="postSummary" name="summary"></angular-editor>
          </div>
          <!-- image input -->
          <div class="form-group">
            <div class="image-input">
              <label>Cover Image</label>
              <input
                type="file"
                id="fileInput"
                (change)="onFileSelected($event)"
                accept="image/*"
              />
            </div>

            <div>
              @if (imageUrl) {
                <img class="upload-Image" [src]="imageUrl" alt="Preview" />
              } @else {
                <div class="placeholder-box">No Image</div>
              }
            </div>
          </div>

          <!-- btn   -->
          <div class="forum-btn">
            <button type="button" (click)="clear()">Clear Input</button>
            <button type="submit" [disabled]="!postForm.valid">Publish Post</button>
          </div>
        </form>
      </div>
    }

    <!-- VIEW 3: PROFILE -->
    @if (activeTab === 'profile') {
      <h2>Profile Settings</h2>
      <p>This is where you can update your avatar and bio later!</p>
    }
  </section>
</div>
