/* src/styles.css */
@import url('../node_modules/@kolkov/angular-editor/themes/default.scss');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #f9fafb;
  color: #1f2937;
}

main {
  max-width: 1000px;
  margin: 2rem auto;
  padding: 0 1rem;
}

h1,
h2 {
  color: #111827;
}
