.featured {
  position: relative;
  overflow: hidden;
  cursor: pointer;
  transition: 0.3s;
}
.featured:hover {
  transform: scale(1.01);
}
.featured img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  border-radius: 10px;
}
.overlay {
  width: 100%;
  box-sizing: border-box;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;

  background: rgba(0, 0, 0, 0.6);
  color: white;

  padding: 15px;
  border-radius: 0 0 10px 10px;

  background: linear-gradient(to top, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.2), transparent);
}
.overlay h2 {
  color: white;
}
.arrow {
  position: absolute;
  right: 20px;
  bottom: 20px;
  font-size: 24px;
}
.tabs {
  margin: 20px 0;
  border-bottom: 2px solid #ccc;
  padding-bottom: 10px;
}

.tabs span {
  margin-right: 20px;
  cursor: pointer;
}
.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

app-blog-card {
  display: block;
  height: 100%;
}
